@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #161622 !important;
  color: #ffffff !important;
  min-height: 100vh;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
